@import url('../padrao.css');

.bem-vindo {
    padding: 20px;
    border-radius: 10px;
    background-color: #415a77;
}

.bem-vindo h1, .bem-vindo h2 {
    text-align: center;
}

.bem-vindo h2 {
    margin-bottom: 10px;
}

.bem-vindo p {
    margin-bottom: 4px;
    text-align: justify;
}

.bem-vindo hr {
    width: 100%;
}

.bem-vindo .imprimir {
    align-self: center;
    margin-top: 20px;
    font-size: 30px;
}

.bem-vindo input {
    width: 300px;
    margin-top: 20px;
    padding: 10px;
    border: 0;
    border-radius: 20px;
    align-self: center;

    font-family: "Inter";
    font-size: 20px;
    text-align: center;
    color: #444;
}